#dashboard
{
	border-collapse: collapse;
	width: 100%;
}

#dashboard td
{
	vertical-align: top;	
	padding: 0px 5px;
}

#dashboard h2
{
	margin: 0;
}

#dashboard h3
{
	margin-top: 5px;
	margin-bottom: 5px;
}

#leftCol
{
	width: 15%;
}

#nameHeader
{
	border-collapse: collapse;
	width: 100%;
	border-bottom: 1px solid black;
}

#nameHeader td
{
	margin-left: 0;
	padding-left: 0;
}

#friendsHeader
{
	width: 98%;
	border-bottom: 1px solid black;
	margin-bottom: 8px;
}

#friends
{
	padding: 0;
	margin: 0;
	list-style: none;
}

#friends li
{
	margin-bottom: 4px;
}

#friends .friendLabel
{
	display: inline-block;
	min-width: 90px;
}

#dashboard .activityTable
{
	border-collapse: collapse;
	width: 95%;
	margin-left: 15px;
}

#dashboard .activityTable td
{
	padding-bottom: 7px;
}

.section
{
	padding: 12px 5px;
}
