#frmRegistration input[type=text],
#frmRegistration input[type=password]
{
	display: block;
	width: 300px;
}

#frmRegistration label
{
	display: inline-block;
	padding-bottom: 5px;
}

#frmRegistration .inputGroup
{
	padding-bottom: 10px;
}