#frmRegister input[type=text],
#frmRegister input[type=password]
{
	display: block;
	width: 300px;
}

#frmRegister label
{
	display: inline-block;
	padding-bottom: 5px;
}

#frmRegister .inputGroup
{
	padding-bottom: 10px;
}